<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
   <div class="main h-screen w-full py-3 px-5 relative overflow-x-hidden">
        <div class="nav h-[8%] fixed z-[999] w-[96%] flex items-center justify-between border-b-2 border-zinc-600 relative">
            <h1 class="text-3xl text-pink-600 font-semibold">TrendCart</h1>
            <div class="right flex items-center gap-5">
                <a href="/profile" class="text-xl font-semibold">Home</a>
                <a href="/product" class="text-xl font-semibold">Create new product</a>
                <a href="" class="text-xl font-semibold">My Account</a>
                <a class="text-xl text-red-600 font-semibold" href="/logout">Logout</a>
            </div>
        </div>
        <div class="content gap-3 w-full h-[93%] pt-5 flex relative">
           <div class="left h-full w-[20%]">
            <form id="uploadForm" action="/uploadProfilePic" method="POST" enctype="multipart/form-data">
                <input type="file" id="fileInput" name="profilePic" accept="image/*" class="hidden">
            </form>
            <div class="profile-pic left-12 flex justify-center items-center bg-pink-200 h-32 w-32 rounded-full absolute">
                <img class="h-full w-full rounded-full object-cover" src="data:image/jpg;base64, <%= user.profilePic.toString('base64') %>" alt="">
                <div id="uploadTrigger" class="circle h-8 w-8 absolute top-24 left-20 flex bg-zinc-100 items-center justify-center rounded-full bg-white"><i class="ri-add-fill"></i></div>
           </div>
           <h1 class="text-xl font-semibold mt-5 absolute text-center top-36 left-16">Profile Pic</h1>
          
            </div>
            <div class="right h-full w-[80%] pl-10 ">
                <label class="flex text-xl font-semibold items-center justify-between gap-10 px-4 py-3 bg-zinc-100 rounded-lg w-[50%]" for="">
                    <h5>UserName :</h5>
                    <h5><%= user.username %></h5>
                </label>
                <label class="flex text-xl font-semibold items-center justify-between gap-10 px-4 py-3 bg-zinc-100 rounded-lg w-[50%] mt-7 " for="">
                    <h5>FullName:</h5>
                    <h5><%= user.fullname %></h5>
                </label>
                <label class="flex text-xl font-semibold items-center justify-between gap-10 px-4 py-3 bg-zinc-100 rounded-lg w-[50%] mt-7 " for="">
                    <h5>Email: </h5>
                    <h5>sanjh@sanjh.com</h5>
                </label>
                <label class="flex text-xl font-semibold items-center justify-between gap-10 px-4 py-3 bg-zinc-100 rounded-lg w-[50%] mt-7" for="">
                    <h5>Contact Number:</h5>
                    <h5><%= user.contactNumber %></h5>
                </label>
                <label class="flex text-xl font-semibold items-center justify-between gap-10 px-4 py-3 bg-zinc-100 rounded-lg w-[50%] mt-7" for="">
                    <h5>Total Cart Items:</h5>
                    <h5><%= user.cart.length %></h5>
                </label>
                <label class="flex text-xl font-semibold items-center justify-between gap-10 px-4 py-3 bg-zinc-100 rounded-lg w-[50%] mt-7" for="">
                    <h5>Total Orders:</h5>
                    <h5>0</h5>
                </label>
              
            </div>
        </div>
   </div>


   <script>
    document.getElementById('uploadTrigger').addEventListener('click', function() {
    document.getElementById('fileInput').click();
});

document.getElementById('fileInput').addEventListener('change', function() {
    document.getElementById('uploadForm').submit();
});
   </script>
</body>
</html>
